<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <!-- <li><a href="https://github.com/danbilokha">danbilokha</a></li> -->
                    <li><a href="#" target="_blank">Лента</a></li>
                    <li><a href="#" target="_blank">Контакты</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2016 - {{date | date: 'yyyy'}}, сделано с <i class="fa fa-heart heart"></i>
                    <a href="https://github.com/danbilokha" target="_blank">kaizen</a>
                </span>
            </div>
        </div>
    </div>
</footer>
