<div class="image-wrapper">
    <div class="image-load-wrapper">
        <div class="image-load__field">
            <label
                    for="images"
                    class="image-load__field_text">
                {{ imageLoadFieldText }}
            </label>
        </div>
        <div class="image-load__btn">
            <label for="images" class="btn btn-success image-load__btn_show">
                <i class="fa fa-cloud-upload"></i>{{ imageLoadBtnText }}
            </label>
            <input
                    id="images"
                    class="image-load__btn_hide"
                    type="file"
                    (change)="onLoadImages($event)"
                    name="images"
                    accept="image/*"
                    multiple>
        </div>
    </div>

    <div class="image-preview-wrapper">
        <ng-container *ngFor="let image of images">
            <img
                    (click)="onImageClick($event)"
                    name="{{image.name}}"
                    src="{{image.binary}}"
                    alt="{{image.name}}"
                    class="image form-image image-preview__img"
                    [ngClass]="image.isMain ? 'l-card' : null">
        </ng-container>
        <label
                *ngIf="images.length"
                class="l-helper-hint image-preview__hint">
            Картинка с рамкой будет отображаться как основная
        </label>
    </div>

    <div class="image-control-wrapper">
        <button
                class="image-control__btn_reset"
                mat-raised-button color="warn"
                (click)="onClearImages()">
            Удалить все фото
        </button>
    </div>
</div>
