<div class="louis-modal-wrapper">
    <div class="modal-header">
        <h5 class="modal-title text-center">{{headerText}}</h5>
        <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{content}}
    </div>
    <div class="modal-footer">
        <div *ngIf="!footer; else customFooter">
            <div class="left-side">
                <button
                        type="button"
                        class="btn btn-default btn-link"
                        (click)="onClose()">
                    Закрыть
                </button>
            </div>
            <div class="divider"></div>
            <div class="right-side">
                <button
                        type="button"
                        class="btn btn-danger btn-link"
                        (click)="onSubmit()">
                    {{submitButtonText}}
                </button>
            </div>
        </div>
        <ng-template #customFooter>
            {{footer}}
        </ng-template>
    </div>
</div>
