@import '../../shared/styles/variable';

.louis-modal {

  &-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    text-align: center;
    background-color: $l-color-grey-1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
}