.card-watch {
    display: inline-block;
    
    max-width: 300px;
    padding: 5px;
    margin: 5px;

    &__image {
        &_img {
            max-width: 250px;
            max-height: 250px;
        }
    }
}