<div class="card card-watch">
    <h3 class="card-watch__title title">{{watch.name}}</h3>
    <div class="card-watch__content text-center">
        <div class="card-watch__links social-line">
            <a href="#" class="btn btn-neutral btn-facebook btn-just-icon">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#" class="btn btn-neutral btn-google btn-just-icon">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#" class="btn btn-neutral btn-twitter btn-just-icon">
                    <i class="fa fa-twitter"></i>
                </a>
        </div>
        <div class="card-watch__image text-center">
            <img class="card-watch__image_img" src="{{watch.image}}" alt="{{watch.name}}" />
        </div>
        <div class="card-watch__price">
            <div *ngIf="!(watch.discount && watch.discount !== 0); else newPrice">
                <div class="card-watch__price_price d-inline-block">
                    {{watch.price}}
                </div>
            </div>
            <ng-template #newPrice>
                <div class="card-watch__price_price-old d-inline-block">
                    {{watch.price}}
                </div>
                <div class="card-watch__price_price d-inline-block">
                    {{watch.price | discount:watch.discount}}
                </div>
            </ng-template>
        </div>
    </div>
    <div class="card-watch__footer">
        <a href="#" class="btn btn-link btn-success">Оформить</a>
        <a href="#" class="btn btn-link btn-info">Детальней</a>
    </div>
</div>

