@import './common/styles/card.scss';

::ng-deep {

  .form {
    &__controls {
      float: right;

      &:after {
        clear: both;
      }
    }
  }

  .hint {
    color: gray;
    font-size: x-small;
  }

}
