@import './common/styles/variables';
@import './common/styles/card';
@import './common/styles/reusable';

::ng-deep {

  /*
    Louis custom style
   */
  .l {

    /*
      Price
     */
    &-price {

      &-old {
        text-decoration: line-through;
        color: gray;
      }
    }

    /*
      Other
     */
    &-clickable-element {
      cursor: pointer;
    }

    &-override {
      &-scratch {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: red;
        z-index: $l-size-position-max-z-index;
      }
    }

    &-margin-s {
      margin: $l-size-indents-s;
    }
    &-margin-m {
      margin: $l-size-indents-m;
    }
    &-margin-l {
      margin: $l-size-indents-l;
    }

    /*
      Image
     */
    &-image {

      &-preview {
        max-width: 100px;
        max-height: 100px;
      }
    }


    /*
      Form
     */
    &-form {
      &__controls {

      }
    }
  }

  .clearfix:after {
    content: '';
    display: block;
    clear: both;
  }

  .form {
    &__controls {
      float: right;
    }
  }

  .hint {
    color: gray;
    font-size: x-small;
  }
}
