<div
        *ngIf="watch; else watchLoading"
        class="l-wrapper order-wrapper">

    <louis-c-header></louis-c-header>

    <div class="order-content">

        <h3>Оформьте предзаказ - получите скидку 20%!</h3>

        <div class="row">
            <div class="col-md-5 l-card ">
                    <div class="l-section">
                        <h4>Описание</h4>
                        <p>{{watch.description}}</p>
                    </div>
                    <div class="l-section">
                        <h4>Цена</h4>
                        <div *ngIf="!(watch.discount && watch.discount !== 0); else newPrice">
                            <div class="d-inline-block">
                                {{watch.price | priceShow:priceMap}}
                            </div>
                        </div>
                        <ng-template #newPrice>
                            <div class="d-inline-block l-price-old">
                                {{watch.price | currencyPrice:'UAH' | toFixed: 2}}
                            </div>
                            <div class="d-inline-block">
                                {{watch.price | priceShow:priceMap }}
                            </div>
                        </ng-template>
                    </div>
            </div>

            <div class="col-md-7 l-card">
                <form novalidate
                      [formGroup]="orderForm"
                      class="l-form order-form">

                    <div class="l-form__group">
                        <mat-form-field>
                            <input matInput
                                   placeholder="Имя"
                                   class="l-form__control" formControlName="name">
                        </mat-form-field>
                    </div>

                    <div class="l-form__group">
                        <mat-form-field>
                            <input matInput
                                   placeholder="Контактные данные: почта, телефон"
                                   class="l-form__control" formControlName="contacts">
                        </mat-form-field>
                    </div>

                    <div class="l-form__controls">
                        <button
                                click="onSubmit()"
                                class="btn btn-success">
                            Оставить заявку
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #watchLoading>
    <louis-loader></louis-loader>
</ng-template>
