@import 'app/common/styles/variables.scss';

.order {

  &-content {
    margin-left: $l-size-xl;
    margin-right: $l-size-xl;
  }
}

.mat-form-field.mat-form-field {
  margin-right: 5px;
  width: 100%;
}
